{% extends 'base.html.twig' %}
{% block title %}Réservations{% endblock %}
{% block body %}
<h1>Nos reservations</h1>

<div class="card-grid">
{% for reservation in reservations %}
    <div class="card">
        <h4>{{ reservation.utilisateur.prenom }} {{ reservation.utilisateur.nom }}</h4>
        <p><strong>{{ reservation.dateReservation|date('l d F Y', 'Europe/Paris')|capitalize }}</strong> à {{ reservation.heureReservation|date('H:i') }}</p>

        {% if is_granted('ROLE_COIFFEUSE') and reservation.statut == constant('App\\Enum\\ReservationStatut::EN_ATTENTE') %}
            <form method="post" action="{{ path('app_reservation_update_statut', {id: reservation.id}) }}" style="display:inline-block;">
                <input type="hidden" name="statut" value="{{ constant('App\\Enum\\ReservationStatut::PASSEE').value }}">
                <button type="submit">Marquer comme passée</button>
            </form>
            <form method="post" action="{{ path('app_reservation_update_statut', {id: reservation.id}) }}" style="display:inline-block;">
                <input type="hidden" name="statut" value="{{ constant('App\\Enum\\ReservationStatut::ANNULER').value }}">
                <button type="submit">Refuser</button>
            </form>
        {% else %}
            <p><strong>Statut :</strong> <span class="statut {{ reservation.statut.value }}">{{ reservation.statut.label|capitalize }}</span></p>
        {% endif %}

    </div>
{% else %}
    <li>Aucune réservation</li>
{% endfor %}

</div>

{% endblock %}
