{% extends 'base.html.twig' %}
{% block title %}Réservations{% endblock %}
{% block body %}
<h1>Nos reservations</h1>

<div class="card-grid">
{% for reservation in reservations %}
    <div class="card">
        <h4>{{ reservation.utilisateur.prenom }} {{ reservation.utilisateur.nom }}</h4>
        <p><strong>{{ reservation.dateReservation|date('l d F Y', 'Europe/Paris')|capitalize }}</strong> à {{ reservation.heureReservation|date('H:i') }}</p>

        {% if is_granted('ROLE_COIFFEUSE') %}
            <form method="post" action="{{ path('app_reservation_update_statut', {id: reservation.id}) }}">
                <select name="statut">
                    {% for statut in statuts %}
                        <option value="{{ statut.value }}" {% if reservation.statut == statut %}selected{% endif %}>
                            {{ statut.label }}
                        </option>
                    {% endfor %}
                </select>
                <button type="submit">Modifier</button>
            </form>
        {% else %}
            <p><strong>Statut :</strong> {{ reservation.statut.label|capitalize }}</p>
        {% endif %}
    </div>
{% endfor %}

</div>

{% endblock %}
