{% extends 'base.html.twig' %}
{% block title %}Résumé de la réservation{% endblock %}

{% block body %}
<div class="container">

    <h2>Résumé de votre réservation</h2>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    <div class="centered resume-presta">
        <h3>1. Prestation sélectionnée</h3>
        <div class="resume">
            <p><strong>Prestation :</strong> {{ prestation.nom }}</p>
            <p>{{ prestation.prix }} € | {{ prestation.duree }}min</p>
        </div>

        <h3>2. Date et heure sélectionnées</h3>
        <div class="resume">
            <p>{{ date|date('l d F Y', 'Europe/Paris')|capitalize }}</p>
            <p>à {{ heure }}</p>
        </div>

        <form id="confirmation-form" action="{{ path('app_reservation_confirm') }}" method="post" style="margin-top: 1rem;">
                <input type="hidden" name="prestation_id" value="{{ prestation.id }}">
                <input type="hidden" name="date" value="{{ date|date('Y-m-d') }}">
                <input type="hidden" name="heure" value="{{ heure }}">
            {% if user %}
                <h3>3. Vos informations</h3>
                <p><strong>Nom :</strong> {{ user.nom }}</p>
                <p><strong>Prénom :</strong> {{ user.prenom }}</p>
                <p><strong>Email :</strong> {{ user.email }}</p>

                <input type="hidden" name="prenom" value="{{ user.prenom }}">
                <input type="hidden" name="nom" value="{{ user.nom }}">
                <input type="hidden" name="email" value="{{ user.email }}">
            {% else %}
                <div style="color: red; text-align: center; font-weight: bold; margin-top: 1rem;">
                    Vous devez vous connecter pour réserver.
                </div>
            {% endif %}

            <div class="actions">
                <a href="{{ path('app_prestation_show', {'id': prestation.id}) }}" class="button-retour">Retour à la prestation</a>
                {% if user %}
                    <button type="submit" class="button-modifier">
                        Confirmer la réservation
                    </button>
                {% else %}
                    <a href="{{ path('app_login', {redirectTo: app.request.uri}) }}" class="button-modifier">Connexion</a>
                {% endif %}
            </div>
        </form>
    </div>



{% if not user %}
<script>
    document.getElementById('confirmation-form').addEventListener('submit', function (e) {
        const prenom = document.getElementById('prenom').value.trim();
        const nom = document.getElementById('nom').value.trim();
        const email = document.getElementById('email').value.trim();
        const error = document.getElementById('error-message');

        if (!prenom || !nom || !email) {
            e.preventDefault();
            error.style.display = 'block';
        }
    });
</script>
{% endif %}

{% endblock %}
