{% extends 'base.html.twig' %}

{% block title %}Disponibilité{% endblock %}

{% block body %}
    <h1>Disponibilité</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Debut</th>
                <th>Fin</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for disponibilite in disponibilites %}
            <tr>
                <td>{{ disponibilite.id }}</td>
                <td>{{ disponibilite.debut ? disponibilite.debut|date('Y-m-d H:i') : '' }}</td>
                <td>{{ disponibilite.fin ? disponibilite.fin|date('Y-m-d H:i') : '' }}</td>
                <td>
                    {# <a href="{{ path('app_disponibilite_show', {'id': disponibilite.id}) }}">show</a> #}
                    <a href="{{ path('app_disponibilite_edit', {'id': disponibilite.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_disponibilite_new') }}">Create new</a>
{% endblock %}
