{% extends 'base.html.twig' %}
{% block title %}Utilisateurs{% endblock %}
{% block body %}
<h1>Utilisateurs</h1>

<div class="card-grid">
    {% for users in user %}
        <div class="card">
            <a class="faux-lien" href="{{ path('app_client_show', {'id': users.id}) }}">
                <h3>{{ users.prenom }} {{ users.nom }}</h3>
                <p><strong>Visite:</strong> {{ users.visite }}</p>
            </a>
        </div>
    {% endfor %}
    {# <p>{{ prestations }}</p> #}
</div>
{% endblock %}
